langchain==0.0.340
langchain-community
flask==2.3.3
transformers==4.34.1
torch==2.1.0
sentence-transformers==2.2.2
faiss-cpu==1.7.4
accelerate==0.24.1
python-dotenv==1.0.0
PyPDF2==3.0.1
pypdf
tqdm==4.66.1
